body {
    margin: 0;
    background-color: #D0D0D0;
}

.container {
    border: 1px solid black;

    max-width: 500px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;

    text-align: center;

    background-color: #fee2f8;
    background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}

/* TreeList */

.fill-buttons {
    display: flex;
    justify-content: space-around;

    padding-bottom: 10px;
}

.button {
    width: 100px;
    height: 30px;
}

.tree-nodes-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.method-buttons {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
}

.empty-tree-message {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Tree */

.tree-nodes {
    list-style: none;
    padding: 0;
}

/* TreeNode */

.tree-node {
    padding: 2px;
    margin: 0;
}

.tree-node-head {
    display: flex;
}

.node-text {
    display: flex;
    padding-right: 25px;
}

.node-icons {
    display: flex;
    padding-top: 2px;
}

.edit-icon {
    margin-right: 15%;
    margin-left: 15%;
}

.delete-icon {
    padding-top: 0.5px;
}

.tree-children-nodes-container {
    list-style: none;
}

/*  */

.rotate .active {
    transform: rotate(45deg);
}

.active-rotate {
    transform: rotate(45deg);
}